#homepage-container {
  text-align: center;
}
  .homepage-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
  }
    .homepage-btn:hover {
      cursor: pointer;
    }
